<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      {{'CONTACTS' | translate | titlecase}}
    </ion-title>
    <ion-button color="danger" slot="end" (click)="logout()"><ion-icon name="log-out-outline"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  ES<ion-toggle #miToggle color="primary" (ionChange)=cargaIdioma($event)></ion-toggle>EN
  <ion-button (click)="hazFoto()" expand="block" shape="round"><ion-icon name="camera"></ion-icon></ion-button>
  <ion-img *ngIf="this.image" [src]="this.image"></ion-img>
</ion-content>