<body>
<div class="login-container">
  <div class="login-box">
    <div class="header">
      <h3>Login</h3>
    </div>
    <div>
    <div class="content">
      <div class="input-box">
        <input type="text" #email style="color: black;" placeholder=" " />
        <span>username</span>
        <span></span>
      </div>
      <div class="input-box">
        <input type="password" #password style="color: black;" placeholder=" " />
        <span>password</span>
        <span></span>
      </div>
      <div class="input-box">
        <br>
        <ion-button (click)="logIn(email,password)">LOGIN</ion-button>
        <ion-button (click)="register()">GO TO SIGN UP</ion-button>
        <br>
        <ion-button size="large" (click)="signin()">   <ion-icon name="logo-google"></ion-icon></ion-button>
        
        <div>
          <a href="#">Forgot your password?</a>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</body>
